<link rel="stylesheet" href="paginaPrincipal.css">  
<header>
        <h1>Fórum Senai</h1>
        <nav>
            <a href="#" id="login">Login</a>
            <a href="#" id="signup">Cadastrar</a>
            <span id="user-info" style="display: none;">
                <a href="#" id="username"></a>
                <a href="#" id="logout">Deslogar</a>
            </span>
        </nav>
    </header>
    <div class="container">
        <a href="#" class="new-post-button">Criar Novo Post</a>
        <div id="posts">
            <!-- Posts serão inseridos aqui via JavaScript -->
        </div>
    </div>
    <footer>
        Desenvolvedores: Thiago Büttner Conradi, Pablo Southier
    </footer>
