<link rel="stylesheet" href="paginaPrincipal.css">  
<header>
        <h1>Fórum Senai</h1>
        <nav>
            <a href="#" id="login">Login</a>
            <a href="#" id="signup">Cadastrar</a>
            <span id="user-info" style="display: none;">
                <a href="#" id="username"></a>
                <a href="#" id="logout">Deslogar</a>
            </span>
        </nav>
    </header>
    <div class="container">
        <a href="#" class="new-post-button">Criar Novo Post</a>
        <div id="posts">
            <!-- Posts serão inseridos aqui via JavaScript -->
        </div>
    </div>
    <footer>
        Desenvolvedores: Thiago Büttner Conradi, Pablo Southier
    </footer>

<div id="postModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="modal-header">
                <h2 id="modal-title">Título do Post</h2>
                <span id="modal-likes">0 Curtidas</span>
            </div>
            <div class="modal-body">
                <div class="post-info">
                    <span id="modal-author">Autor: Fulano</span>
                    <span id="modal-time">Horário: 12:00</span>
                </div>
                <div class="post-description" id="modal-description">
                    Descrição do post aqui...
                </div>
                <div class="comments" id="modal-comments">
                    <!-- Comentários serão inseridos aqui via JavaScript -->
                </div>
            </div>
            <div class="modal-footer">
                <input type="text" id="comment-input" placeholder="Adicionar um comentário...">
                <button id="comment-button">&#9993;</button>
            </div>
        </div>
    </div>